.feedPostCard {
  width: 100%;
  min-height: 150px;
  background-color: RGB(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 0px 0px 1px #ced4de;
  margin-top: 20px;
}
.UserDetails {
}

.postContent {
}

.postActioncontainer {
  background-color: grey;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 0px 0px 1.5rem;
}

.commentInput {
  padding: 0px 0px 20px 20px;
  width: 100%;
}

.commentInput > input {
  border-radius: 99px;
  width: 95%;
  border: 1px solid black;
  height: 50px;
  padding: 15px;
  outline: none;
}

.commentContainer{
    padding: 0px 0px 20px 20px;
    width: 95%;

}

.commentMain{
    width: 95%;
    border-radius: 10px;
    background-color: #d9e1eb;
    min-height: 200px;
    padding: 10px;
}